.root{
    width: 440px;
    background: var(--back-white);
    border: 1px solid var(--back-btn);
    border-radius: 8px;
    overflow: hidden;
}

.titleRow{
    padding: 16px 20px;
    border-bottom: 1px solid var(--back-btn);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title{
    font-size: 24px;
    color: var(--colortext-main);
    font-weight: 600;
}

.linkLoginBody{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-accent);
    transition: opacity .3s ease;
}

.linkLoginBody:hover{
    opacity: 0.5;
    transition: opacity .3s ease;
}

.linkText{
    font-weight: 700;
}

/*  Form  */

.form{
    padding: 30px 20px 27px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input{
    width: 100%;
    height: 48px;
    background: var(--back-main);
    padding: 0 16px;
    border-radius: 6px;
    font-size: 16px;
    color: var(--colortext-main);
    border: 1px solid transparent;
}

.forgotPass{
    color: var(--links-color);
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;
}

.forgotPass:hover{
    opacity: 0.5;
    transition: all .3s ease;
}


.btn{
    margin-top: 10px;
    padding: 12px 0px;
    background: var(--color-accent);
    color: var(--colortext-main);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background: #ffc35c;
    transition: all .3s ease;
}

.btn.disabled{
    opacity: 0.5;
}

.input.error{
    border-color: red;
}

.errorText{
    color: red;
    font-size: 14px;
}