.root{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectBody{
    display: flex;
    flex-direction: column;
    gap: 8px;

    position: relative;
}

.title{
    font-size: 14px;
    color: var(--noactive-color);
}


.select{
    width: 202px;
    min-height: 48px;
    background: var(--back-btn);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--back-btn);

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
}

.select.active{
    border-color: var(--color-accent);
    transition: all .3s ease;
}

.name{
    font-size: 14px;
    font-weight: 500;
    color: var(--colortext-main);
    line-height: 12px;
}

.arrow{
    width: 16px;
    height: 18px;
    opacity: 0.5;
    transition: all .3s ease;
}

.arrow.active{
    transform: rotate(180deg);
    transition: all .3s ease;
}

.iconBody{
    width: 24px;
    height: 24px;
    background: var(--back-btn);
    border-radius: 50%;
    color: var(--colortext-main);

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;

    margin-top: 22px;
}

.iconBody:hover{
    background: var(--color-accent);
    transition: all .3s ease;
}