.root{
    position: relative;
}

.title{
    padding-bottom: 8px;
    color: var(--noactive-color);
}

.select{
    width: 100%;
    height: 48px;
    background: var(--back-btn);
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid var(--back-btn);

    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;
    transition: border .3s ease;
}

.select.active{
    border-color: var(--color-accent);
    transition: border .3s ease;
}

.content{
    display: flex;
    align-items: center;
    gap: 8px;
}

.name{
    font-size: 16px;
    font-weight: 500;
}

.icon{
    max-width: 24px;
    max-height: 24px;
}

.arrow{
    width: 16px;
    height: 18px;
    opacity: 0.5;
    transition: all .3s ease;
}

.arrow.active{
    transform: rotate(180deg);
    transition: all .3s ease;
}